<style>
    div {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #008CBA;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    button:hover {
        background-color: #006B8F;
    }

    a {
        color: white;
        text-decoration: none;
    }
</style>

<div>
    <button><a href="$(Genie.Router.linkto(:sign_up))">SignUP</a></button>
    <button><a href="$(Genie.Router.linkto(:log_in))">LogIN</a></button>
</div>
